<aside class="right-aside pretty-scrollbar">
    <div class="admin-options" style="position: relative;">
        <img src="assets/img/sidebar/background.png" style="width: 100%; border-radius: 0.4rem;">
        <div style="position: absolute; bottom: 0; padding: 1.25rem;">
            <p class="title-style separated" style="margin: 0; color: #ffffff;">Bienvenido(a)</p>
            <h5 class="separated" style="margin: 0; color: #ffffff; font-weight: 100;">{{UserLocalService.nombre}}</h5>
            <!-- <button class="btn admin-button mt-1">
                Ajustes de cuenta
            </button> -->
        </div>
    </div>
    <div class="meet-list mt-3 mb-3">
        <img src="assets/img/sidebar/calendar.png" style="width: 100%; border-radius: 0.4rem; visibility: hidden;">
    </div>
    <!-- <a class="btn add-meet-button" type="submit" [routerLink]="['/private/meets']">
        <i class="fas fa-plus-square me-2"></i>
        <span>Crear reunión</span>
    </a> -->
</aside>