<div class="page-content background-size-cover background-position-center background-repeat-no-repeat"
    style="background-image: url(assets/img/landing/background.jpg); padding: 0;">
    <div class="display-flex w-100 h-100 align-items-center justify-content-center">
        <h1>
            <span class="me-2 text-transform-uppercase cl-quaternary">La reunión ha</span>
            <span class=" text-transform-uppercase cl-quinary">{{txtPagina}}</span>
        </h1>
    </div>
</div>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
    <p style="color: white"> Cargando... </p>
</ngx-spinner>